* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eceaea;
}

::-webkit-scrollbar-thumb {
  background: #c3c2c2;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: white;
}

ul {
  padding: 0;
  margin: 0;
}

.app-container {
  display: grid;
  height: 100%;
}

.app-container > * {
  position: relative;
  overflow: hidden;
}
